header {
  padding: 24px 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFF;
  border-bottom: 1px solid #e9ecef;
}
.logo {
  font-size: 1.4em;
  color: #5f3dc4;
}
.auth {
  display: flex;
  align-items: center;
}

header button {
  color: #fff;
  background: rgb(95,61,196);
  background: -webkit-linear-gradient(300deg, rgba(95,61,196,1) 30%, rgba(54,79,199,1) 100%);
  background: -o-linear-gradient(300deg, rgba(95,61,196,1) 30%, rgba(54,79,199,1) 100%);
  background: linear-gradient(30deg, rgba(95,61,196,1) 30%, rgba(54,79,199,1) 100%);
  border-radius: 36px;
  border: none;
  padding: 20px 30px;
}
