header {
  padding: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFF;
  border-bottom: 1px dotted #d1d1d3;
}
.logo {
  font-size: 1.4em;
  border-bottom: 3px solid turquoise;
}
.auth {
  display: flex;
  align-items: center;
}

header button {
  margin-left: 1em;
}
