.card-wrapper {
  padding: 24px;
  display: grid;
  border-top: 6px solid #FFAD91;
  grid-template-columns: 12fr;
  grid-row-gap: 12px;
  background-color: #FFF;
}

.card-wrapper h2 {
  margin: 0;
  font-weight: 800;
  font-size: 32px;
}

.card-description {
  font-family: 'Abhaya Libre';
  font-size: 21px;
  line-height: 28px;
  font-weight: 400;
  min-height: 120px;
}

.card-lead > * {
  font-family: "Source Sans Pro";
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}

.card-body {
}

.card-tags {
  display: flex;
  flex-flow: wrap;
}

.tag {
  font-family: "Source Sans Pro";
  flex-shrink: 0;
  font-size: 16px;
  padding: 4px 10px 6px;
  margin: 0 8px 8px 0;
  border-radius: 1em;
  background-color: rgba(255, 173, 145, .6);
}

.card-contributor-avatars {
  display: grid;
  grid-template-columns: repeat(auto-fit, 40px);
  grid-auto-rows: 40px 40px;
  grid-gap: 6px;
}

.card-contributor-label,
.card-tech-stack-label,
.card-lead-label {
  font-family: "Source Sans Pro";
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: .5px;
  justify-self: left;
  font-size: 16px;
  padding-bottom: 6px;
  margin-bottom: 8px;
  color: #6e7485;
}

.card-lead-label {
  padding-right: 12px;
}
.card-contributor-label,
.card-tech-stack-label {
  border-bottom: 1px solid #d1d1d3;
}

.card-contributor-icon {
  background-color: rgba(110, 116, 133, .6);
  border-radius: 20px;
  text-align: center;
  padding-top: 10px;
  font-family: "Source Sans Pro";
  font-weight: 700;
  color: #fff;
}

.card-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 40px;
  grid-gap: 10px;
}

.card-button {
  background-color: rgba(110, 116, 133, .85);
  color: #FFF;
  border: none;
  border-radius: 4px;
  font-size: 16px;
}

.card-button:hover {
  background-color: #FFAD91;
  color: #fff;
}
