.card-wrapper {
  border: 1px solid gray;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 12fr;
  grid-template-rows: 50px 70px auto 50px;
  padding: 24px;
}

.card-header {
  margin: 0;
}

.card-description {
  height: 100px;
}

.card-lead {
  font-size: 14px;
}

.card-body {
}

.card-tags {
  display: flex;
  flex-flow: wrap;
}

.tag {
  flex-shrink: 0;
  font-size: 0.8em;
  padding: 4px 10px 6px;
  margin: 8px 8px 0 0;
  border-radius: 1em;
  background-color: #f1f1f3;
}

.card-contributors {
  display: grid;
  grid-template-columns: repeat(auto-fit, 40px);
  grid-auto-rows: 30px 40px;
  margin: 10px;
}

.card-contributor-label {
  grid-column: span 12;
  justify-self: left;
  font-size: 13px;
}
.card-contributor-icon {
  border: 1px solid black;
  border-radius: 20px;
  text-align: center;
  padding-top: 8px;
}

.card-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 40px;
  grid-gap: 5px;
}

.card-button {
  margin: 5px;
}
