.card-wrapper {
  padding: 24px;
  border: 2px solid #393939;
  display: grid;
  grid-template-columns: 12fr;
  grid-row-gap: 12px;
  background-color: #FFF;
}

.card-wrapper h2 {
  margin: 0;
  font-weight: 600;
  font-size: 1.4em;
  border-bottom: 3px solid turquoise;
}

.card-description {
  line-height: 21px;
  font-weight: 400;
}

.card-lead > * {
  font-size: 16px;
  line-height: 21px;
}

.card-body {
}

.card-tags {
  display: flex;
  flex-flow: wrap;
}

.tag {
  flex-shrink: 0;
  font-size: 14px;
  padding: 4px 10px 6px;
  margin: 0 8px 8px 0;
  border-radius: 1em;
  background-color: #c1fff8;
}

.card-contributor-avatars {
  display: grid;
  grid-template-columns: repeat(auto-fit, 40px);
  grid-auto-rows: 40px 40px;
  grid-gap: 6px;
}

.card-description {
  min-height: 160px;
}

.card-looking-for {
  min-height: 120px;
}

.card-looking-for-label,
.card-contributor-label,
.card-tech-stack-label {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: .6px;
  justify-self: left;
  font-size: 14px;
  padding-bottom: 6px;
  margin-bottom: 8px;
  border-bottom: 1px dotted #d1d1d3;

}

.card-contributor-icon {
  background-color: #393939;
  border-radius: 20px;
  text-align: center;
  padding-top: 10px;
  font-weight: 700;
  color: #FFF;
}

.card-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 40px;
  grid-gap: 10px;
}

.card-button {
}
