.add-project-page > * {
  display: flex;
  flex-direction: column;
}

.add-project-page {
  max-width: 640px;
  padding: 60px;
  margin: 60px auto;
  border: 3px solid #393939;
  padding: 0.75em;
  box-shadow: 3px 3px turquoise;
}

.add-project-page h1::after{
  content: '';
  display: inherit;
  height: 3px;
  width: 120px;
  background-color: turquoise;
  margin: 24px 0px;
}

.add-project-info-block {
  padding: 24px 24px 28px;
  background-color: #c1fff8;
  margin: 24px 0;
}

.add-project-info-block h2 {
  margin-bottom: 12px;
}

.add-project-info-block button {
  margin-top: 18px;
  width: max-content;
}


label.form-input-title {
  font-family: "Hepta Slab";
  font-size: 16px;
  font-weight: 600;
}

label {
  margin-bottom: 12px;
}

input[type="url"],
input[type="text"],
select,
textarea {
  font-size: 16px;
  padding: 12px;
  margin-bottom: 36px;
}

.creatable {
  margin-bottom: 36px;
}
.creatable input,
.creatable .creatable__multi-value__label {
  font-size: 16px !important;
  padding: 10px !important;
  margin-bottom: 0;
}
.creatable .creatable__control {
  border-radius: 0px;
}

span {
  margin-top: -24px;
  padding-bottom: 24px;
}

.field-error {
  border: 1px solid #c23b22;
}
.field-error:focus {
  outline-color: #f00;
}

.creatable-error .creatable__control {
  border: 1px solid #c23b22;
}
.creatable-error .creatable__control:focus {
  outline-color: #f00;
}

.error {
  color: #c23b22;
}

.error-message {
  padding: 24px 24px 12px;
  margin-bottom: 24px;
  color: #c12b11;
  background-color: #fdd;
}

.error-message p {
  line-height: 1.35em;
  padding-bottom: 12px;
}

.add-project-form-buttons{
  margin: auto;
  justify-content: center;
  align-items: center;
}

.add-project-form-button {
  display: inline-flex;
  width: fit-content;
  margin: 0.4em 1em;
}

.modal-container{
  max-width: 50%;
  margin: 15em auto;
  padding: 3em;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border: 2px solid #393939;
  padding: 0.75em;
  box-shadow: 3px 3px turquoise;
}

.modal-text{
  text-align: center;
}

.modal-buttons{
  display: flex;
  justify-content: center;
  padding: 1em;
}

.modal-button{
  margin: 0.5em;
  display: inline-block;
}

.tech-stack-select {
  margin-bottom: 36px;
}

.tech-stack-select__value-container {
  height: 45px;
}

.tech-stack-select__input {
  padding-top: 8px;
}

.tech-stack-select__multi-value {
  margin-bottom: 30px !important;
}
