.projects-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, 400px);
  grid-auto-rows: 450px;
  grid-gap: 40px;
  justify-content: space-evenly;
  background-color: red;
}

.projects-main {
  text-align: center;
}
.projects-title {
  grid-column: 1/-1;
}
