.projects-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, 680px);
  grid-gap: 40px;
  justify-content: center;
  background-color: rgba(110, 116, 133, .2);
  padding: 60px 0;
}

.projects-main {
  padding: 60px 0 0;
}

.projects-title {
  grid-column: 1/-1;
  text-align: center;
  padding-bottom: 30px;
}

.projects-title h1::after{
  content: '';
  display: inherit;
  height: 3px;
  width: 120px;
  background-color: #FFAD91;
  margin: 30px auto;
}
