.platform-welcome {
}

.platform-welcome > * {
  padding: 120px 0 60px;
}

.platform-intro {
  color: #FFF;
  text-align: center;
  margin: 0 auto;
  background: rgb(95,61,196);
  background: -webkit-linear-gradient(300deg, rgba(95,61,196,1) 30%, rgba(54,79,199,1) 100%);
  background: -o-linear-gradient(300deg, rgba(95,61,196,1) 30%, rgba(54,79,199,1) 100%);
  background: linear-gradient(30deg, rgba(95,61,196,1) 30%, rgba(54,79,199,1) 100%);
}

.platform-intro h1 {
  font-size: 42px;
  color: #fff;
}

.platform-intro h1::after,
.platform-featured-projects h2::after {
  content: '';
  display: inherit;
  height: 3px;
  width: 120px;
  background-color: #fff;
  margin: 30px auto;
}

.platform-intro p {
  font-size: 21px;
  font-weight: 300;
  line-height: 36px;
  width: 50vw;
  margin: auto;
}

.platform-intro button {
  margin: 60px;
  font-size: 21px;
  border: none;
  color: #5f3dc4;
  background-color: #fff;
  border-radius: 36px;
  padding: 18px 24px;
}

.platform-features {
  display: grid;
  grid-template-columns: repeat(auto-fit, 480px);
  justify-content: center;
  grid-gap: 40px;
  padding: 120px 0;
}

.platform-feature {
  background-color: #FFF;
  border: 1px solid #e9ecef;
  padding: 36px;
  border-radius: 6px;
}

.platform-feature h3 {
  font-family: "Work Sans";
  font-weight: 500;
  font-size: 28px;
  color: #5f3dc4;
  padding-bottom: 18px;
}

.platform-feature p {
  font-size: 16px;
  line-height: 23px;
  font-weight: 400;
}

.platform-featured-projects h2 {
  text-align: center;
  font-size: 32px;
}

.platform-featured-projects h2::after{
  content: '';
  display: inherit;
  height: 3px;
  width: 120px;
  background-color: #5f3dc4;
  margin: 16px auto;
}

.featured-projects-block {
  display: flex;
}

.featured-projects-block > * {
  margin: 20px;
}


@media (max-width: 840px){
  .platform-features {
    flex-direction: column;
  }
}
