.platform-welcome {
  margin: 0 auto;
  max-width: 50%;
  min-width: 80%;
}

.platform-welcome > * {
  padding: 3em 0;
}

.platform-intro {
  text-align: center;
}

.platform-intro h1 {
  font-size: 3em;
}

.platform-intro p {
  font-size: 1.6em;
}

.platform-features {
  display: flex;
}

.platform-feature {
  padding: 2em;
}

.platform-feature h3 {
  text-align: center;
  font-size: 1.4em;
}

.platform-featured-projects h2 {
  text-align: center;
  font-size: 2.4em;
}
.featured-projects-block {
  display: flex;
}

.featured-projects-block > * {
  margin: 20px;
}


@media (max-width: 840px){
  .platform-features {
    flex-direction: column;
  }
}
