.platform-welcome > * {
  padding: 120px 0 60px;
}

.platform-intro {
  text-align: center;
  max-width: 80%;
  min-width: 60%;
  margin: 0 auto;
}

.platform-intro h1 {
  font-size: 42px;
}

.platform-intro h1::after,
.platform-featured-projects>h2::after {
  content: '';
  display: inherit;
  height: 3px;
  width: 120px;
  background-color: turquoise;
  margin: 30px auto;
}

.platform-intro p {
  font-size: 21px;
  line-height: 32px;
}

.platform-intro button,
.platform-intro a.button-link {
  margin: 60px;
  font-size: 21px;
}

.platform-intro a.button-link {
  display: inline-block;
}

.platform-features {
  display: grid;
  grid-template-columns: repeat(auto-fit, 400px);
  justify-content: center;
  grid-gap: 40px;
  background-color: turquoise;
  padding: 120px 0;
}

.platform-feature {
  background-color: #FFF;
  border: 2px solid #393939;
  padding: 36px;
}

.platform-feature h3 {
  font-family: "Hepta Slab";
  font-weight: 600;
  font-size: 1.4em;
  border-bottom: 3px solid turquoise;
  padding-bottom: 18px;
  margin-bottom: 18px;
}

.platform-feature p {
  line-height: 24px;
}

.platform-featured-projects>h2 {
  text-align: center;
  font-size: 32px;
  padding-bottom: 64px;
}
.featured-projects-block {
  display: flex;
}

.featured-projects-block > * {
  margin: 20px;
}


@media (max-width: 840px){
  .platform-features {
    flex-direction: column;
  }
}
