@import url('https://fonts.googleapis.com/css?family=
Abhaya+Libre:400,500,600,700,800|
Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i|
&display=swap');

* {
  margin: 0;
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3 {
  font-family: "Abhaya Libre";
  font-weight: 800;
}

body {
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  font-weight: 500;
  cursor: pointer;
}

button:hover {
  background-color: rgba(110, 116, 133, .85);
  color: #FFF;
}
